.root-page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: #191414;
    /* background-color: black; */
}

.root-login-link {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.root-login-link:hover {
    transform: scale(1.05);
}

.root-signup-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    border-radius: 500px;
    width: 125px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 14px;
    color: black;
    padding: 8px 0 8px 0;
    margin-left: 35px;
    margin-right: 45px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    /* transition: all .2s; */
    background-color: white;
}

.root-signup-link:hover {
    transform: scale(1.03);
}

.loggedin-root-page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: #191414;
    /* background-color: black; */
}

.username {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    border-radius: 500px;
    width: 125px;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 0 8px 0;
    margin-left: 35px;
    margin-right: 45px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    background-color: black;
    /* background-color: white; */
    transition: all .2s;
    background-image: url(user-icon-white.png);
    background-repeat: no-repeat;
    background-position: 10px 8px; 
    border: none;
}

.username:hover {
    background-color: gray;
}

.username:focus {
    background-color: gray;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* z-index: 1; */
}

.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin-left: -8px;
  margin-top: 7px;
  border-radius: 5px;
}

.show {
    display: block;
}

.root-logout {
    border: none;
    width: 170px;
    background-color: darkgray;
}

.dropdown-content button:hover {
    /* background-color: red; */
    filter: brightness(115%);
}