.category-header {
    margin-left: 262px;
    color: white;
    margin-top: 31px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.top-category {
    margin-top: 86px;
}

.category-info {
    font-size: 12px;
    color: #d9dadc;
    opacity: 63%;
}

.square {
    height: 135px;
    width: 135px;
    background-image: linear-gradient(to bottom right, rgb(6, 119, 248), rgb(186, 198, 209));
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 20px;
}

.fa-fire {
    font-size: 55px;
    // padding-bottom: 45px;
    margin-top: 44px;
}

.tester {
    height: 240px;
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liked-text {
    position: relative;
    top: -191px;
    text-align: left;
    padding-left: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.genre-text {
    position: relative;
    top: 11px;
    // padding-right: 40px;
    width: 135px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
}

.education {
   background-image: image-url("education.jpg");
   color: transparent
}

.entertainment {
    background-image: image-url("entertainment.jpg");
    color: transparent
}

.diy {
    background-image: image-url("diy.jpg");
    color: transparent 
}

.sports {
    background-image: image-url("sports.jpg");
    color: transparent 
}

.comedy {
    background-image: image-url("comedy.jpg");
    color: transparent 
}

.technology {
    background-image: image-url("technology.jpg");
    color: transparent 
}

.joerogan {
    background-image: image-url("joerogan.jpg");
    color: transparent 
}

.conan {
    background-image: image-url("conan.jpg");
    color: transparent 
}

.h3podcast {
    background-image: image-url("h3podcast.jpg");
    color: transparent 
}

.vergecast {
    background-image: image-url("vergecast.png");
    color: transparent 
}

.espndaily {
    background-image: image-url("espndaily.jpg");
    color: transparent 
}

.notsosmart {
    background-image: image-url("notsosmart.jpg");
    color: transparent 
}

.sad {
    background-image: image-url("sad.jpg");
    color: transparent 
}

.happy {
    background-image: image-url("happy.jpg");
    color: transparent 
}

.relaxed {
    background-image: image-url("relaxed.jpg");
    color: transparent 
}

.bored {
    background-image: image-url("bored.jpg");
    color: transparent 
}

.sleepy {
    background-image: image-url("sleepy.jpg");
    color: transparent 
}

.excited {
    background-image: image-url("excited.jpg");
    color: transparent 
}

.bottom-contained {
    margin-left: 263px;
    list-style-type: none;
    padding-bottom: 135px;
}