.category-header {
    margin-left: 262px;
    color: white;
    margin-top: 31px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.top-category {
    margin-top: 86px;
}

.category-info {
    font-size: 14px;
}