.page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #191414;
}

.podcast-header {
    color: white;
    height: 47px;
    padding-top: 34px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.podcast-container {
    display: inline-block;
    background-color: rgba(93, 94, 103, 0.788);
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    height: 240px;
    width: 165px;
    margin-right: 15px;
    margin-bottom: 10px;
    // margin-left: 30px;
    border-radius: 10px;
}

.contained {
    margin-left: 263px;
    list-style-type: none;
}

.index-content-container {
    margin-left: 1px;
}

.showpage-link {
    text-decoration: none;
    color: white;
}